<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369647008742-gm9k9pn7am901ro1q31i10apvd7855q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369647008742-gm9k9pn7am901ro1q31i10apvd7855q1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369647008742-tp42lhgeul7ib6fsgdb61c5g80d2u4k9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy5SwY8jWjBCw2LIeb2wVe1hO5fS-C14Y</string>
	<key>GCM_SENDER_ID</key>
	<string>369647008742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instreet</string>
	<key>PROJECT_ID</key>
	<string>instreet-29644</string>
	<key>STORAGE_BUCKET</key>
	<string>instreet-29644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369647008742:ios:8adfc8e3ea519439b13427</string>
</dict>
</plist>